Repository 13rac1/gowasm-bindgen: changes, and which Codecov flags are due for each by the changed paths.
All: go, typescript

test(generator): add unit tests for GenerateGoBindings
  internal/generator/bindings_test.go
Due: go

ci: add golangci-lint for generated bindings
  .github/workflows/ci.yml
Due: none

test(generator): raise GenerateWorkerClassMethod coverage to 100%
  internal/generator/worker_test.go
Due: go

docs: add Go Report Card badge
  README.md
Due: none

docs: optimize README and add pkg.go.dev documentation
  README.md
  doc.go
  internal/parser/parser.go
  internal/validator/validator.go
Due: go

docs: add logo to README
  README.md
Due: none

docs: add badges to website homepage
  website/content/_index.md
Due: none

docs: add CI, release, and license badges
  README.md
  website/content/_index.md
Due: none

feat: add fatal error if main() lacks select {}
  internal/parser/parser.go
  internal/parser/parser_test.go
  main.go
Due: go

test(e2e): use select {} instead of channel receive
  test/e2e/wasm/main.go
Due: typescript

feat: add panic recovery to generated Go WASM bindings
  internal/generator/bindings.go
  internal/generator/bindings_test.go
  test/e2e/verify_test.ts
  test/e2e/wasm/main.go
Due: go, typescript

feat: default --wasm-path to directory name
  main.go
Due: go

refactor(cli): improve flag names and add short forms
  .github/workflows/ci.yml
  LIMITATIONS.md
  Makefile
  README.md
  docs/for-go-devs.md
  docs/for-typescript-devs.md
  examples/image-processing/Makefile
  examples/js-sandbox/Makefile
  examples/simple/Makefile
  examples/simple/README.md
  internal/generator/generator.go
  internal/generator/generator_test.go
  internal/generator/worker.go
  internal/generator/worker_test.go
  main.go
  website/content/_index.md
  website/content/docs/cli-reference.md
  website/content/docs/for-go-devs.md
  website/content/docs/for-typescript-devs.md
  website/content/docs/getting-started.md
  website/content/docs/why.md
Due: go, typescript

feat(cli): add --class-name flag for TypeScript class naming
  README.md
  docs/for-go-devs.md
  docs/for-typescript-devs.md
  internal/generator/classname.go
  internal/generator/classname_test.go
  internal/generator/generator.go
  internal/generator/generator_test.go
  internal/generator/worker.go
  internal/generator/worker_test.go
  main.go
  test/e2e/verify_test.ts
  website/content/docs/cli-reference.md
Due: go, typescript

docs: consolidate duplicate docs into website
  README.md
  docs/for-go-devs.md
  docs/for-typescript-devs.md
  website/content/docs/for-go-devs.md
  website/content/docs/for-typescript-devs.md
Due: none

docs: update getting-started with new class name and example.wasm
  website/content/docs/getting-started.md
Due: none

refactor: use generated/ for output, convert examples to worker mode
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .gitignore
  LIMITATIONS.md
  Makefile
  README.md
  examples/image-processing/Makefile
  examples/image-processing/image/main.go
  examples/image-processing/package.json
  examples/image-processing/src/demo.ts
  examples/image-processing/tsconfig.json
  examples/js-sandbox/Makefile
  examples/js-sandbox/goja/go.mod
  examples/js-sandbox/goja/go.sum
  examples/js-sandbox/goja/main.go
  examples/js-sandbox/package.json
  examples/js-sandbox/src/demo.ts
  examples/js-sandbox/tsconfig.json
  examples/simple/Makefile
  examples/simple/README.md
  examples/simple/src/app.ts
  examples/simple/src/verify_test.ts
  examples/simple/wasm/main.go
  examples/simple/wasm/main_test.go
  internal/generator/classname.go
  main.go
  test/e2e/verify_test.ts
  website/content/docs/cli-reference.md
  website/content/docs/for-go-devs.md
  website/content/docs/for-typescript-devs.md
  website/content/docs/getting-started.md
  website/content/examples/image-processing.md
  website/content/examples/js-sandbox.md
  website/static/examples/image-processing/client.ts
  website/static/examples/image-processing/wasm_exec.js
  website/static/examples/js-sandbox/client.ts
  website/static/examples/js-sandbox/wasm_exec.js
Due: go, typescript

test: increase code coverage from 77% to 89%
  internal/generator/bindings.go
  internal/generator/classname.go
  internal/generator/classname_test.go
  internal/generator/generator.go
  internal/generator/worker.go
  internal/parser/parser_test.go
  internal/runtime/runtime_test.go
  main.go
  main_test.go
Due: go

refactor: improve code quality and add validation for embedded fields
  internal/generator/generator.go
  internal/generator/generator_test.go
  internal/generator/worker.go
  internal/parser/parser.go
  internal/parser/parser_test.go
  internal/parser/typemap.go
  internal/parser/types.go
  internal/validator/validator.go
  internal/validator/validator_test.go
  main.go
  main_test.go
Due: go

chore: enable additional golangci-lint linters
  .golangci.yml
Due: none

test: increase code coverage from 89% to 90%
  internal/parser/parser_test.go
  internal/validator/validator_test.go
Due: go

chore: ignore coverage output files
  .gitignore
Due: none

docs: fix CLI syntax and naming inconsistencies
  doc.go
  docs/typescript-config.md
  examples/simple/README.md
  website/content/_index.md
  website/content/docs/for-typescript-devs.md
  website/content/docs/limitations.md
  website/content/docs/why.md
Due: typescript

docs: remove duplicate LIMITATIONS.md and simplify README
  LIMITATIONS.md
  README.md
  website/content/docs/limitations.md
Due: none

test: add fuzz testing for parser, validator, and generator
  internal/generator/fuzz_test.go
  internal/parser/fuzz_test.go
  internal/parser/parser.go
  internal/parser/testdata/fuzz/FuzzHasSelectInMain/d631ac1dc817f685
  internal/validator/fuzz_test.go
Due: go

refactor: use Go 1.22 integer range syntax in image example
  examples/image-processing/image/main.go
Due: typescript

fix: auto-install Playwright browsers before running tests
  Makefile
Due: none

chore: rename package to gowasm-bindgen
  package-lock.json
Due: none

Path conditions:
  go: any of: internal/, main.go
  typescript: any of: test/, examples/
